.login-form-container{
    width: 300px;
    padding: 15px;
}

/*--------input field formatting-----------------------*/

    /*Both Login and Signup page*/

.login-form-container input{
    padding-left: 30px;
    left: 0px; 
    position: absolute;
}

.login-form-container [class$="icon"] {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
}

.login-form-container .first-line{
    top: 0px;
}

.login-form-container .second-line{
    top: 40px;
}

.login-form-container .third-line{
    top: 80px;
}

.login-form-container .fourth-line{
    top: 120px;
}

.login-form-container .email-icon{
    background-image: url(./email.png);
}

.login-form-container .password-icon{
    background-image: url(./password.png);
}

.login-form-container .name-icon{
    background-image: url(./name.png);
}

.login-form-container .first-icon{
    top: 6px;
    left: 6px;
}

.login-form-container .second-icon{
    top: 46px;
    left: 6px;
}

.login-form-container .third-icon{
    top: 86px;
    left: 6px;
}

    /*Login Page*/

.login-form-container #login-container{
    position:relative;
    height: 75px;
}

    /*Signup Page*/

.login-form-container #signup-container{
    position:relative;
    height: 155px;
    width: 100%;
}

.login-form-container input[name=lName]{
    right: 0px;
    padding-left: 5px;
    left: inherit;
}

.login-form-container input[name*=Name]{
    width: 48.5%;
}

.login-form-container [name=county], .login-form-container [name=state]{
    width: 48.5%;
    padding-left: 5px;
}

.login-form-container [name=county]{
    right: 0px;
    left: inherit;
}

.login-form-container select{
    padding-left: 30px;
    position: absolute;
    left: 0px;
}

/*----------------------------*/

.login-form-container button:first-of-type{
    margin-top: 30px;
}

.login-form-container a{
    float: left;
}

.login-form-container .grass{
    background-image: url(./grass.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.login-form-container .message{
    color: #e52828;
    margin-bottom: 10px;
    text-align: left;
}