.reports-container{
    width: 300px;
    padding: 15px;
    position: relative;
}

.reports-container input{
    margin-bottom: 7px;
}

.reports-container textarea{
    margin: 7px 0;
    max-width: 100%;
    min-height: 80px;
}

.reports-container select{
    margin-bottom: 7px;
}

.reports-container .search-list{
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    overflow-y: auto;
    box-sizing:border-box;
    max-height: 400%;
    border: 1px solid #4ca6de;
}

.reports-container .search-item{
    width: inherit;
    padding: 5px 8px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    text-transform: capitalize;
}

.reports-container .message{
    color: #e52828;
    margin-bottom: 0px;
    text-align: left;
}

.dist{
    display: inline;
    width: 10%;

}

.reports-container .search-item:hover{
    background-color: #719ECE;
    color: #FFFFFF;
}

.reports-container .list-container{
    position: relative;
    width: 100%;
}

.reports-container [class*="direction"]{
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
}

.reports-container a{
    float: left;
}

#notes{
    height: 30px;
}

.selection-button{
    float:left;
    margin: 5px 2% 8px 2%;
    border: 1px solid #cbcbcb;
    padding: 8px 0;
}

.select-three{
    width: 28%;
}

.select-two{
    width: 44%;
}

.select-left{
    margin-left: 4%
}

.select-right{
    float: right;
    margin-right: 4%
}

.selection-wrap{
    box-sizing: border-box;
    border: 1px solid #dddddd;
    margin: 2% 0;
    padding-top: 5px;
    text-align: center;
}
