.loading-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 5000;
    background-color: #ffffff;
    text-align: center;
}

.loading-container img{
    postion: relative;
    display: inline-block;
    width: 70%;
}

.align-helper{
    height: 100%;
    display: inline-block;
    width: 1px;
    vertical-align: middle;
}
