.report-header-wrap label{
    width: 100%;
    display: block;
    height: 36px;
    padding-top: 5px;
}

.report-info-wrap input{
    margin: 10px 0 15px 0;
}

.report-info-wrap textarea{
    margin: 10px 0 15px 0;
    max-width: 100%;
    min-height: 150px;
}