.location-wrap .content-within{
    width: 44%;
    float: left;
    margin: 5px 2% 8px 4%;
    border: 1px solid #cbcbcb;
}

.location-wrap .float-right{
    float: right;
    margin: 5px 4% 8px 2%;
}

.location-wrap{
  box-sizing: border-box;
  border: 1px solid #dddddd;
  margin: 2% 0 4% 0;
  padding: 5px 0;
}
.county{
}
.state{
}
